<head>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
</head>
<div class="modal fade" id="edit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4>Editare</h4>
            </div>
            <div class="modal-body">
                <form>

                </form>
            </div>
        </div>
    </div>
</div>