
@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "not using this";

}

<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@*@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => $"<button data-id=\"{model.Id}\">Edit</button>").Encoded(false).RenderedAs(model => @Html.ActionLink("Edit", "RoomPopUp", "Rooms", new { id = model.Id }, new { @class = "popupLink" })).Encoded(false);
        columns.Add(model => $"<button data-id=\"{model.Id}\">Delete</button>").RenderedAs(model => @Html.ActionLink("Delete", "Delete", "Rooms", new { id = model.Id }, new { })).Encoded(false);
        columns.Add(model => model.RoomNumber).Titled("RoomNumber");
        columns.Add(model => model.PersonCapacity).Titled("PersonCapacity");
        columns.Add(model => model.Description).Titled("Description");
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    //.Pageable(pager =>
    //{
    //    pager.RowsPerPage = 3;
    //})
    )

<script>
    document.addEventListener('Edit', function (e) {
        $(document).ready(function () {
            $("#dialog").dialog({
                title: 'Enter Clock No',
                modal: true,
                show: 'slide',
                hide: 'slide'
            });
        });
    });
    $(document).ready(function () {
        $("#dialog").dialog({
            bgiframe: true, autoOpen: false, height: 100, modal: true
        });
    });
    function showModal(id) {
        $.get("/Home/Edit/" + id, function (data) {
            $("#dialog").html(data);
        });
        $('#dialog').dialog('open'); return false;
    }

    $(function () {
        $(".popupLink").click(function (e) {
            window.confirm("sometext");
        });
    });


</script>*@
@*<link href="~/css/style.css" rel="stylesheet" />*@
@*<div id="theForm">
        <form>
            <label>Your Name:</label>
            <br />
            <input />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject:</label>
            <br />
            <input type="text" />
            <br />
            <label>Message:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
            <br />
        </form>
    </div>*@

@*<div class="col-md-6 offset-md-3">
        <div class="card card-body bg-light">
            <form class="popup-form">
                <div>
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" />
                </div>
                <div>
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>Remember Me?</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>*@

