@model LoginViewModel
@{
    ViewBag.Title = "Login Page";

}
@*<link href="~/css/style.css" rel="stylesheet" />*@
@*<div id="theForm">
        <form>
            <label>Your Name:</label>
            <br />
            <input />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject:</label>
            <br />
            <input type="text" />
            <br />
            <label>Message:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
            <br />
        </form>
    </div>*@

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form class="popup-form">
            <div>
                <label asp-for="Username">Username</label>
                <input asp-for="Username" />
            </div>
            <div>
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember Me?</label>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>

