@model HotelManagement.Data.Entities.Reservation
@{
}

<div class="row">
    <div class="col" id="occupation-chart"></div>
</div>
<div class="row">
    <div class="col" id="main-page1"></div>
    <div class="col" id="main-page"></div> 
</div>


<script src="~/dist/mainPage.js"></script>