@model MainPageViewModel
@{
    ViewBag.Title = "Main Page";

}
<div>
    <p>11 Rooms available of 30</p>
    <p>19 Rooms occupied of 30</p>
</div>
<div>
    <p>Hotel is at ..% capacity</p>@*put in second column!!->with bootstrap*@
</div>
<div>
    <p>Grid check-in</p>@*put grid!!->with bootstrap*@
    <br />
</div>
<div>
    <p>Grid check-out</p>@*put grid!!->with bootstrap*@
</div>